.idea
.DS_Store
.vscode
.idea
node_modules
/server/node_modules
npm-debug.log
/build
/.idea
/build
ref
/ref
.vscode/settings.json
/vscode/settings.json
/internal/log/forever.log
yarn-error.log
.eslintcache
.next
.DoNotEditMe.js